.header{
	width: 100%;
	max-width: 640px;
	height: 1.5rem;
	background: #f2f2f2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.5rem;
	box-sizing: border-box;
	color: #919191;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;
}
.header span{
	font-size: 0.5rem;
}
.header a{
	font-size: 0.58rem;
	color: #919191;
}