.middle{
	width: 100%;
	padding: 1.38rem 0.5rem 1.4rem 0.5rem;
}
.middle .middle-one{
	width: 100%;
	height: 1.38rem;
	display: flex;
	justify-content: space-between;
	
	font-size: 0.5rem;
}
.middle-one p{
	color: #1f1f1f;
}
.middle-one a{
	color: #969696;
}
